POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db
PGDATA=/var/lib/postgresql/data/pgdata
JWT_SECRET=example_jwt_secret
PORT=3000
